--extra-index-url https://download.pytorch.org/whl/cu124
torch
darts
matplotlib
numpy<2
pandas<2
salesforce_merlion
scikit_learn
scipy
statsmodels
torch
ray
tqdm
dash
dash-bootstrap-components
reformer-pytorch
lightgbm
catboost